body {
    background-color: rgb(202, 202, 194);
}
.cdb-form {
    background-image: url("../images/bg-image27.jpg");
    height: 200px;
    padding: 5%;
}

input[type="text"] {
    background-color: #fff;
    width: 30% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: #fff;
}

#form-center {
    margin-left: 33%;
    background-color: #fff;
    height: 43px;
    border-top: 1px solid #fff;
}

.card {
    border: 1px solid black;
    background-color: rgb(202, 202, 194);
}
